/target
__pycache__
*.ipynb
*.so
tvm_libs/*
.gdb_history
.ipynb_checkpoints
notebooks/*.stan
notebooks/*.csv
notebooks/*.hpp
notebooks/radon*
perf.data*
wheels
.vscode/
*~
.zed
.cargo
*traces*
.pyrightconfig.json
*.zarr
book
docs/_site
.quarto
example-iree
posteriordb
.quarto
docs/.quarto
