ci:
  autofix_prs: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: debug-statements
      - id: check-merge-conflict
      -   id: check-toml
      -   id: check-yaml
      -   id: debug-statements
      -   id: end-of-file-fixer
      -   id: no-commit-to-branch
          args: [--branch, main]
      -   id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.4
    hooks:
      - id: ruff
        args: ["--fix", "--output-format=full"]
      - id: ruff-format
