[package]
name = "nutpie"
version = "0.9.2"
authors = [
    "Adrian Seyboldt <adrian.seyboldt@gmail.com>",
    "PyMC Developers <pymc.devs@gmail.com>"
]
edition = "2021"
license = "MIT"
repository = "https://github.com/pymc-devs/nutpie"
keywords = ["statistics", "bayes"]
description = "Python wrapper for nuts-rs -- a NUTS sampler written in Rust."

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
simd_support = ["nuts-rs/simd_support"]

[lib]
name = "_lib"
crate-type = ["cdylib"]

[dependencies]
nuts-rs = "0.7.0"
numpy = "0.19.0"
ndarray = "0.15.6"
rand = "0.8.5"
thiserror = "1.0.44"
rand_chacha = "0.3.1"
rayon = "1.7.0"
arrow2 = "0.17.3"
anyhow = "1.0.72"
itertools = "0.11.0"
bridgestan = "2.1.2"
rand_distr = "0.4.3"
smallvec = "1.11.0"

[dependencies.pyo3]
version = "0.19.2"
features = ["extension-module", "anyhow"]

[dev-dependencies]
criterion = "0.5.1"

[profile.release]
debug = true
lto = "fat"
codegen-units = 1
opt-level = 2

[profile.bench]
debug = true
lto = "fat"
